__pycache__
*.ckpt
*.egg-info
*/__pycache__
*/*/__pycache__
log.txt
**.ckpt
src/
*nohup.out

# eden specific stuff
MiDaS
pytorch3d-lite
AdaBins
k-diffusion
prompt-search
frame-interpolation
clip-interrogator
eden/models/*
eden/tests/*.jpg
eden/templates/results
eden/templates/unit_test_results
eden/templates/cache

# large files
models
.huggingface/
.torch/
cache

# custom xander dev files
eden/xander

lora
.cog
tuning.png
training_batch_preview/
results
results_real2real
data
loras
